<h2>Tạo người dùng</h2>

<form action="" method="post" [formGroup]="userForm" NOVALIDATE (ngSubmit)="onSubmit()">
  <div class="imgcontainer">
    <img src="https://www.w3schools.com/howto/img_avatar2.png" alt="Avatar" class="avatar">
  </div>
  <label for="myfile">Chọn ảnh đại diện:</label>
  <input type="file" id="myfile" name="myfile" (change)="selectFile($event)">
  <div class="container">
    <label><b>Mã người dùng</b></label>
    <input type="text" placeholder="Nhập mã người dùng" name="codeUser" required formControlName="userCode" readonly>

    <label><b>Họ tên</b></label>
    <input type="text" placeholder="Nhận họ tên người dùng" name="fName" required formControlName="fname" readonly>
    <table aria-readonly="true">selectFile
      <tr>
        <th>Vai trò</th>
        <th><select id="cars" formControlName="roleId">
          <option value="1">User</option>
          <option value="2">Manager</option>
          <option value="3">Admin</option>
        </select></th>
      </tr>
    </table>
    <button type="submit">Lưu</button>
  </div>

  <div class="container" style="background-color:#f1f1f1">
    <button type="button" class="cancelbtn" (click)="click()">logout</button>
  </div>
</form>
