
<h2>Login Form</h2>

<form [formGroup]="loginForm" NOVALIDATE (ngSubmit)="submit()">
  <div class="imgcontainer">
    <img src="https://www.w3schools.com/howto/img_avatar2.png" alt="Avatar" class="avatar">
  </div>

  <div class="container">
    <label ><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="uname" formControlName="username">

    <label ><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" formControlName="password">
    <button type="submit">Login</button>
    <ng-container *ngIf="status">
      <div class="container" style="background-color:#f44336">
        <label>Đề nghị điền username hoặc passowrd</label>
      </div>
    </ng-container>
  </div>

</form>
